<section class="footer">
	<div class="footer-content">
		<div class="content">
			<div class="search-box">
				<h2>Let’s stay in touch</h2>
				<!-- <input type="text" placeholder="Enter email..."><button>Subscribe</button> -->
				<div class="input">
					<input type="text" id="countryName" placeholder="Enter email..." required>
					<button class="btn">
						Subscribe
					</button>
				</div>
			</div>
			<div class="logo">
				<img src="/assets/logo-02.png" alt="">
			</div>
		</div>

		<div class="info-content">
			<div class="text-1">

				<div class="list-shop">
					<ul>
						<li>
							<h4>SHOP</h4>
						</li>
						<li><a href="">Mens</a></li>
						<li><a href="">Womens</a></li>
						<li><a href="">New Arrival</a></li>
					</ul>
				</div>

				<div class="list-contact">
					<ul>
						<li>
							<h4>CONTACT US</h4>
						</li>
						<li><a href="">Find a Store</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">Terms & Conditions</a></li>
					</ul>
				</div>
			</div>

			<div class="text-2">

				<div class="list-services">
					<ul>
						<li>
							<h4>OUR SERVICES</h4>
						</li>
						<li><a href="">Customize your products</a></li>
						<li><a href="">Gift Card</a></li>
						<li><a href="">Maintain & Repair</a></li>
					</ul>
				</div>

				<div class="list-enterprise">
					<ul>
						<li>
							<h4>OUR ENTERPRISE</h4>
						</li>
						<li><a href="">Who are we?</a></li>
						<li><a href="">Press and news</a></li>
						<li><a href="">Our alliances</a></li>
					</ul>
				</div>
			</div>

			<div class="text-3">

				<div class="list-help">
					<ul>
						<li>
							<h4>NEED HELP ?</h4>
						</li>
						<li><a href="">My Account</a></li>
						<li><a href="">Shipping</a></li>
						<li><a href="">Return & Exchanges</a></li>
						<li><a href="">FAQs</a></li>
						<li><a href="">Rewards</a></li>
						<li><a href="">Loyalty program</a></li>
						<li><a href="">How to choose your product?</a></li>
						<li><a href="">Sports Trends</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>

	<div class="copyrights-container">
		<div class="copyright">
			<div class="text">
				<h6>2022 Nike, Inc. All Rights Reserved</h6>
				<img src="/assets/copyright-sign-sign-symbol-copyright-24-outline.png" alt="">
			</div>
			<div class="social-media">
				<img src="/assets/social-network-24-outline.png" alt="">
				<img src="/assets/social-media-24-outline.png" alt="">
				<img src="/assets/twitter-24-outline.png" alt="">
				<img src="/assets/instagram-24-outline.png" alt="">
			</div>
		</div>
	</div>
</section>