<section class="footer">
	<div class="footer-content">
		<div class="content">
			<div class="search-box">
				<h2>Let’s stay in touch</h2>
				<!-- <input type="text" placeholder="Enter email..."><button>Subscribe</button> -->
				<div class="input">
					<input type="text" id="countryName" placeholder="Enter email..." required>
					<button class="btn">
						Subscribe
					</button>
				</div>
			</div>
			<div class="logo">
				<img src="/assets/logo-02.png" alt="">
			</div>
		</div>

		<div class="info-content">
			<div class="text-1">
				<div class="list-shop">

				</div>
				<div class="list-contact">

				</div>
			</div>
			<div class="text-2">
				<div class="list-services">

				</div>
				<div class="list-enterprise">

				</div>
			</div>
			<div class="text-3">
				<div class="list-help">

				</div>
			</div>
		</div>
	</div>

	<div class="copy-rights-container">

	</div>
</section>