<header>
    <div class="container">
        <nav>
            <img src="../assets/icon-category.png" alt="">
            <a href="">New Arrival</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kids</a>
        </nav>
        <div class="logo">
            <img src="../assets/logo.png" alt="">
        </div>
        <div class="tools">
            <img src="../assets/icon-search.png" alt="">
            <img src="../assets/icon-account.png" alt="">
            <img src="../assets/icon-shopping-bag.png" alt="">
        </div>
    </div>
</header>