main {
    .slider {
        margin-top: 30px;
        .container {
            .slider-bar {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .slides-container {
                    width: 70%;
                    height: 200px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    overflow-x: hidden;
                    .slides {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        right: 0px;
                        bottom: 100px;
                        transition: 0.5s;
                        gap: 5%;
                        .slide-card {
                            width: 320px;
                            height: 195px;
                            border: 2px solid #FFF;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-end;
                            background-repeat: no-repeat;
                            background-size: cover;
                            h5 {
                                color: #FFF;
                                font-family: 'Fira Sans', sans-serif;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 0px; /* 0% */
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                .switcher {
                    width: 20%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10%;
                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        h6 {
                            color: #FFF;
                            font-family: 'Fira Sans', sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px; /* 100% */
                            text-transform: capitalize;
                            cursor: pointer;
                        }
                    }
                    .wrapper-prev {
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .baners {
                transform: translateY(100%);
                position: relative;
                .red-banner {
                    background: #BA0000;
                    transform: rotate(-1.707deg);
                    z-index: 49;
                    h3 {
                        animation: baner-infinite-red 1s linear infinite;
                    }
                }
                .black-banner {
                    background: #000;
                    transform: rotate(2.723deg);
                    z-index: 50;
                    h3 {
                        animation: baner-infinite-black 1s linear infinite;
                    }
                }
                .baner {
                    top: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 80px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    div {
                        height: 40%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        h3 {
                            color: #FFF;
                            font-family: 'Fira Sans', sans-serif;
                            font-size: 32px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 32px;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}

@keyframes baner-infinite-red {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-125%);
    }
}

@keyframes baner-infinite-black {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(125%);
    }
}